body {
    background-image: url("../img/bg.png");
}

#container {
    width: 960px;
    margin: auto;
    min-height: 500px;
    background: #fff;
}

#menu {
    background: #444;
    height: 30px;
    color: #fff;
    text-align: right;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    float: left;
    margin-left: 10px;
}

#menu ul li a {
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #ccc;
}

#page {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    min-height: 400px;
    padding: 20px;
    overflow: hidden;
}

#page {
    width: 960px;
}

.header {
    width: 100%;
    vertical-align: middle;
}
/* ===========================
   ====== Contact Form ======= 
   =========================== */

input,
textarea {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
    color: #999999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
    width: 400px;
    height: 150px;
    max-width: 400px;
    line-height: 18px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: 1px solid #C9C9C9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

.help-inline {
    color: #999999;
    font-weight: bold;
}
/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
    width: 100px;
    height: 40px;
    background-color: #474E69;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
/* ==============================
   = Background Vignette effect = 
   ============================== */

.vignette {
    position: fixed;
    -moz-box-shadow: inset 0 0 30em #000;
    -webkit-box-shadow: inset 0 0 30em #000;
    box-shadow: inset 0 0 30em #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
